<product-compare data-module="product-compare">
    <button class="right-side-tab" data-tab>Compare <span class="text-sm" data-count>()</span></button>
    <div class="product-list-comapre" data-overview>
      <button class="product-list-comapre-close" data-title aria-label="Close Product Compare">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <g stroke-linecap="square" stroke-linejoin="miter" fill="none" stroke-miterlimit="10">
            <line x1="38" y1="10" x2="10" y2="38"></line>
            <line x1="38" y1="38" x2="10" y2="10"></line>
          </g>
        </svg>
      </button>
  
      <div class="product-list-compare-main">
        <div class="product-list-compare-main-top">
          <button class="button-bg" data-title aria-label="Close Product Compare">
            Compare <span class="text-sm" data-count>()</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
              <g stroke-linecap="square" stroke-linejoin="miter" fill="none" stroke-miterlimit="10">
                <polyline points="4,14 24,34 44,14"></polyline>
              </g>
            </svg>
          </button>
        </div>
  
        <div class="product-list-comapre-error"><p></p></div>
  
        <div class="product-list-compare-main-center">
          <div class="product-list-compare-main-center-sub">
            {%- for i in (1..3) -%}
              <div class="comapre-product-holder" data-product-holder>
                <p class="comapre-product-select">Select a product to compare</p>
              </div>
            {%- endfor -%}
          </div>
  
          <div class="compare-clear-button ">
            <button class="button-compare-alls" data-compare-all>Compare</button>
            <button class="button-compare-clear-all" data-compare-clear>Clear all</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="compare-products-results" data-results>
      <button class="compare-products-results-close" data-close>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
          <g stroke-linecap="square" stroke-linejoin="miter" fill="none" stroke-miterlimit="10">
            <line x1="38" y1="10" x2="10" y2="38"></line>
            <line x1="38" y1="38" x2="10" y2="10"></line>
          </g>
        </svg>
      </button>
  
      <div class="compare-products-results-details">
        <div class="compare-products-results-details-full-products" data-products></div>
      </div>
    </div>
  </product-compare>
  
  {% comment %} Product compare css start {% endcomment %}
  {% render 'product-compare-css' %}
  {% comment %} Product compare css end {% endcomment %}
  